<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809979209002-s33rrha2hlg0j8ee2ofsl2kh29mq0sjk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809979209002-s33rrha2hlg0j8ee2ofsl2kh29mq0sjk</string>
	<key>API_KEY</key>
	<string>AIzaSyA2gLOMjA0tkZzhkoYrQtB0rKcH3j17wJs</string>
	<key>GCM_SENDER_ID</key>
	<string>809979209002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studyAppFirebase</string>
	<key>PROJECT_ID</key>
	<string>study-app-b5b77</string>
	<key>STORAGE_BUCKET</key>
	<string>study-app-b5b77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809979209002:ios:bb76c266c1325204d8ea53</string>
	<key>DATABASE_URL</key>
	<string>https://study-app-b5b77-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>